# videos
*.mp4

# vim
.vim/

# Python import cache
__pycache__/

# Zip archive
*.zip

# CMake build directory
build/

# Useless file when accidentally type ":w'" in Vim
'

# Roadmaps
roadmap.md
Roadmap.md
ROADMAP.md

# Images
*.jpg
*.JPG
*.png

# ClangD cache
.cache/

# Author: Blurgy <gy@blurgy.xyz>
# Date:   Nov 30 2020, 22:01 [CST]
